extends layout

block content
  div.container-fluid
    p
      h3= problem.title + ' #' + problem.pid
      - if (power > 0)
        a(href="/problem/edit/#{problem.pid}"): h4 编辑
    div.panel.panel-primary
      div.panel-heading Description
      div.panel-body!= problem.description
    div.panel.panel-danger
      div.panel-heading Limit
      div.panel-body
        - if (limits[0])
          h3: span.label.label-primary VHDL代码题
        - else
          - each val, key in limits
            p #{key}
              span.badge(style="margin:5px;") #{val}
    div.panel.panel-info
      div.panel-heading Source
      div.panel-body= problem.source
  a(href="/editor/#{limits[0] && 'code' || 'visual'}/#{problem.pid}")
    button.btn.btn-lg.btn-danger.submit-btn Go!